


*.vscode/


# Rider
.idea/

# Windows
Thumbs.db
Desktop.ini

Build
bin/
obj/
[Bb]uild/
[Ll]ogs/

VS
.vs/
*.user
*.suo

Otros
*.DotSettings.user
*.DS_Store

Permitimos nuestros proyectos
!PLNExamGenerator/
!PLNExamGenerator.Logica/
!PLNExamGenerator.Entidades/**